@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin bulletless-list {
  list-style-type: none;
  padding-left: 0;
}

@mixin inline-list($margin: true) {
  > li {
    display: inline;
    @if $margin {
      margin-right: ($spacer * 0.5);
    }
  }
}

@mixin inline-list-down($bp-name: sm) {
  @include media-breakpoint-down($bp-name) {
    @include inline-list;
  }
}

$card-height: 3.5rem;
$card-overlap: 1rem;

$red-suit-color: red;
$black-suit-color: black;
